##########################################################
# C++ Section

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# but do track glew32.dll and freeglut.dll
!glew32.dll
!freeglut.dll

# Fortran module files
*.mod
*.smod


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# but do track .lib files from Lib, even though you're ignoring .a files above
!Lib/**/*.lib

# Executables
*.exe
*.out
*.app
